#foodOutput {
    display: none;
    padding: 10px;
}

#foodOist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

.meal-output {
    position: relative;

    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);

    padding: 30px 10px 15px 10px;

    margin: 10px 10px;

    background-color: var(--background);
}

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}