* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    margin: 0px;
}

:root {
    --accent: #084999;
    --background: #ffffff;
    --font: "Rubik";
}

#navbar {
    color: var(--background);
    background-color: var(--accent);

    padding: 1%;

    width: 100%;

    display: grid;
    grid-template-columns: 92% 1fr;
}
#navbar h1 {
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}